$icons : (
    icon-fb ,icon-ig ,icon-line
);
$svcs: (
    svc-1, svc-2, svc-3, svc-4
);
// RWD斷點
$mediaXs: 'max-width:376px';
$mediaSm: 'max-width:640px';
$mediaMd: 'max-width:820px';
$mediaLg: 'min-width:821px';

// z-index
$z-index-xs: -1;
$z-index-xl: 99;

// size尺寸
$size-btn-l: 50px;
$size-icon: 32px;
$size-full: 100%;
$size-box: 80%;
$size-box-max: 1200px;
$size-h-full:100vh;

$interval: ( // map-get($interval , )
    bar: 5px auto,
    memu: 10px 10px 5px,
    memu-a: 0 10px,
    icon: 20px 0,
    news-item: 15px 20px 20px,
    video: 100px 0,
    label: 20px 0 5px,

    0: 0,
    xs: 5px,
    s: 10px,
    m: 15px,
    l: 20px,
    xl: 30px,
    xxl: 50px,

    xy-s: 5px 10px,
    xy-m: 10px 15px,
    xy-xl: 50px 100px,

    rem-xs: .5rem,
);
// //interval間距
// $interval-bar: 5px auto;
// $interval-memu: 10px 10px 5px;
// $interval-memu-a: 0 10px;
// $interval-icon: 20px 0;
// $interval-news-item: 15px 20px 20px;
// $interval-video: 100px 0;
// $interval-label: 20px 0 5px;

// $interval-0: 0;
// $interval-xs: 5px;
// $interval-s: 10px;
// $interval-m: 15px;
// $interval-l: 20px;
// $interval-xl: 30px;
// $interval-xxl: 50px;

// $interval-xy-s: 5px 10px;
// $interval-xy-m: 10px 15px;
// $interval-xy-xl: 50px 100px;

// $interval-rem-xs: .5rem;