// 灰階
$white: #f7f1f1;
$light: #e1e1e1;
$grey: #999;
$deep: #313131;

// 主色調
$bg: ( // map-get($bg , )
    color-1: #F2EDF0,
    color-2: #E6ECE5,
    color-3: #ECF0F4,
);

// 輔助色調
$lesser: ( // map-get($lesser , )
    color-1: #ffefef,
    color-2: #f9dfe1,
    color-3: #BF9899,
    color-4: #8f6b6d,
);

// 透明色調
$alpha-light-2: rgba(255, 255, 255, .2);
$alpha-light-3: rgba(255, 255, 255, .3);
$alpha-light-5: rgba(255, 255, 255, .5);
$alpha-light-6: rgba(255, 255, 255, .6);
$alpha-light-7: rgba(255, 255, 255, .7);
$alpha-deep: rgba(0, 0, 0, 0.4);
$alpha-red: rgba(241, 190, 193, 0.2);
$alpha-red2: rgba(241, 190, 193, 0.5);

// 漸層
$gradient-glass: linear-gradient(5deg, $alpha-light-5, $alpha-light-2, $alpha-light-7);
$gradient-text: linear-gradient(5deg, map-get($bg , color-2), map-get($bg , color-1));