// 顏色規範-------------
// 基本色
$base-deep:#444;
$base-light: #eee;

// 主色調
$primary-colo: #DE9CB1;
$primary-colo-2: #8FBED1;

// 輔助色
$secondary-color: #F6E8F7;
$secondary-color: #B4C9D6;

// 文字色
$text-color: #664A53;
$text-color-2: #51707C;
$text-color-3: #48659A;

// 背景色
$background-color:#c6dee7;
$background-color-2:#edefc7;