// 字體規範-------------
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,"蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;;
$font-family-tc: 'Noto Sans TC', sans-serif;
$font-family-en: "Playfair Display",sans-serif;

// 字級規範-------------
$font-size: (
    xs: .9rem,
    s: 1.1rem,
    m: 1.4rem,
    l: 1.6rem,
    xl: 1.8rem
);