@charset "UTF-8";
body {
    margin: 0px;
    background: url("./images/bg.jpg");
    font-size: 18px;
}
img{
    display: block; /* 解決圖片間距 */
}
/* class選擇器 .  */
.box {
    width: 1000px; /* 設定寬度 小於視窗才能均分 */ 
    /* 如果只用margin: 1個上下左右相同 2個 上下 左右 3個 上 左右 下 4個 上 下 左 右*/
    margin-left: auto;
    margin-right: auto;
}

.box-center {
    text-align: center;/* 行內元素置中(文字 iframe) */
}
    
.btn-box{
    min-width: 1000px; /* rwd常用 */
    width: 100%; /* 視窗寬度100% */
    height: 112px; /* 把預設高度改成圖片高度 */
}
.btn {
    float: left;/* 改為浮動元素 從左到右 */ /* 若字形未設定最遠會追溯到瀏覽器的設定 */
    width: 200px; /* w200 */
}
.col{
    float: left;
    width: 420px;
    border: dotted 5px #888;
    margin: 0 10px 30px;
    padding: 20px;
    font-style: normal;
}
h1 {
    font-size: 2rem;
    
}
.title {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left; /* 覆蓋先前的文字置中改為靠左 */
}
ul{
    list-style: circle;
}
ol{
    list-style: lower-alpha;
}
.footer{
    clear: both;
    text-align: center;
    border-top: dotted 2px #000;
    padding: 20px 0;
    margin-top: 20px;
}