 // banner1
@keyframes mario1 {
    0%   { opacity: 0; top: 100vh; right: 50%;}
    10%  { opacity: 1; top: 5vh; right: 50%;}
    20%  { opacity: 1; top: 5vh; right: 50%;}
    30%  { opacity: 0; top: 100vh; right: 50%;}
    100% { opacity: 0; top: 100vh; right: 50%;}
}
@keyframes luigi {
    0%   { opacity: 0; top: 100vh; right: 1%; }
    10%  { opacity: 1; top: 20vh; right: 1%; }
    20%  { opacity: 1; top: 20vh; right: 1%; }
    30%  { opacity: 0; top: 100vh; right: 1%; }
    100% { opacity: 0; top: 100vh; right: 1%; }
}

@keyframes brick {
    0%   { opacity: 0; top: 4vh; right: -100%; }
    10%  { opacity: 1; top: 4vh; right: -2%; }
    20%  { opacity: 1; top: 4vh; right: -2%; }
    30%  { opacity: 0; top: 4vh; right: -100%; }
    100% { opacity: 0; top: 4vh; right: -100%; }
}
 // banner2
@keyframes mario2 {
    0%   { opacity: 0; top: 100vh; right: 45%; }
    10%  { opacity: 1; top: 10vh; right: 45%; }
    20%  { opacity: 1; top: 10vh; right: 45%; }
    30%  { opacity: 0; top: 100vh; right: 45%; }
    100% { opacity: 0; top: 100vh; right: 45%;}
}
@keyframes peach {
    0%   { opacity: 0; top: 100vh; right: 18%; }
    10%  { opacity: 1; top: 35vh; right: 18%; }
    20%  { opacity: 1; top: 35vh; right: 18%; }
    30%  { opacity: 0; top: 100vh; right: 18%; }
    100% { opacity: 0; top: 100vh; right: 18%; }
}
@keyframes pipe {
    0%   { opacity: 0; top: 100vh; right: -5%; }
    10%  { opacity: 1; top: 2vh; right: -5%; }
    20%  { opacity: 1; top: 2vh; right: -5%; }
    30%  { opacity: 0; top: 100vh; right: -5%; }
    100% { opacity: 0; top: 100vh; right: -5%; }
}

 // banner3
@keyframes mario3 {
    0%   { opacity: 0; top: 100vh; right: 45%; }
    10%  { opacity: 1; top: 17vh; right: 45%; }
    20%  { opacity: 1; top: 17vh; right: 45%; }
    30%  { opacity: 0; top: 100vh; right: 45%; }
    100% { opacity: 0; top: 100vh; right: 45%; }
}
@keyframes toad {
    0%   { opacity: 0; top: 100vh; right: 25%; }
    10%  { opacity: 1; top: 30vh; right: 25%; }
    20%  { opacity: 1; top: 30vh; right: 25%; }
    30%  { opacity: 0; top: 100vh; right: 25%; }
    100% { opacity: 0; top: 100vh; right: 25%; }
}
@keyframes star {
    0%   { opacity: 0; top: 100vh; right: 5%; }
    10%  { opacity: 1; top: 2vh; right: 5%; }
    20%  { opacity: 1; top: 2vh; right: 5%; }
    30%  { opacity: 0; top: 100vh; right: 5%; }
    100% { opacity: 0; top: 100vh; right: 5%; }
}