@use "reset";
@use "keyframes";
@use "variable" as *;
@use "function" as *;
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

body {
    font-family: $main-font;
    font-optical-sizing: auto;
    background-color: $primary-color;
    color: $light;
}
main {
    @extend %flex-center;
    justify-content: center;
}
section {
    height: 100vh;
}
/* 頁首區 */
.topbar {
    position: fixed;
    @extend %flex-center;
    justify-content: space-between;
    padding: map-get($interval , btn-xy);
}
.logo{
    height: 100%;
}
.menu {
    @extend %flex-center;
    a {
        color: $light;
        margin: map-get($interval , menu);
    }
}
/* banner */
#banner {
    width: $main-w;
    @extend %flex-center;
    justify-content: center;
    div {
        flex: 1;
    }
    .content {
        h1 {
            font-size: map-get($font-size , xxl);
            font-weight: map-get($font-weight , bolder);
            line-height: 0.8;
            span {
                font-size: map-get($font-size , l);
                font-weight: map-get($font-weight , bold);
            }
        }
        p {
            font-size: map-get($font-size , m);
        }
        a {
            @extend %btn-main;
            font-size: map-get($font-size , s);
        }
    }
    .photo {
        position: relative;
        height: 100%;

        figure {
            position: absolute;
        }

        .mario1{
            width: 55%;
            @include animation( mario1, 0 )
        }
        .luigi{
            width: 50%;
        }
        .brick{
            height: 75%;
        }
    }
}

